node_red/air-quality-flow.json
[
    {
        "id": "162903de9a0a4000",
        "type": "tab",
        "label": "air quality",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "57a51afebfd0ce44",
        "type": "mqtt in",
        "z": "162903de9a0a4000",
        "name": "sensor/d3928b/csv",
        "topic": "sensor/d3928b/csv",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2869d2cff789b55b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "0d2ea236a5182d22"
            ]
        ]
    },
    {
        "id": "0d2ea236a5182d22",
        "type": "csv",
        "z": "162903de9a0a4000",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "aqi,pm2-5,pm10,pm1",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "483cd0dbde6af926",
                "3c0ed6f5de4fcf1b",
                "0fec23c897ba65dc",
                "fd77e25f03745d1f",
                "8c98aebb34ff62b5"
            ]
        ]
    },
    {
        "id": "483cd0dbde6af926",
        "type": "debug",
        "z": "162903de9a0a4000",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 100,
        "y": 200,
        "wires": []
    },
    {
        "id": "3c0ed6f5de4fcf1b",
        "type": "change",
        "z": "162903de9a0a4000",
        "name": "aqi",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.aqi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 180,
        "wires": [
            [
                "c8a54d46b10f75a0"
            ]
        ]
    },
    {
        "id": "0fec23c897ba65dc",
        "type": "change",
        "z": "162903de9a0a4000",
        "name": "pm2-5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"pm2-5\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 220,
        "wires": [
            [
                "75cd0b6739d64317"
            ]
        ]
    },
    {
        "id": "fd77e25f03745d1f",
        "type": "change",
        "z": "162903de9a0a4000",
        "name": "pm10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pm10",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "ca2f0b3dce109c1d"
            ]
        ]
    },
    {
        "id": "c8a54d46b10f75a0",
        "type": "influxdb out",
        "z": "162903de9a0a4000",
        "influxdb": "47cd2837047de8dd",
        "name": "sensor/d3928b/AQI",
        "measurement": "sensor/d3928b/AQI",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "home",
        "bucket": "sensors",
        "x": 490,
        "y": 180,
        "wires": []
    },
    {
        "id": "75cd0b6739d64317",
        "type": "influxdb out",
        "z": "162903de9a0a4000",
        "influxdb": "47cd2837047de8dd",
        "name": "sensor/d3928b/PM2-5",
        "measurement": "sensor/d3928b/PM2-5",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "home",
        "bucket": "sensors",
        "x": 500,
        "y": 220,
        "wires": []
    },
    {
        "id": "ca2f0b3dce109c1d",
        "type": "influxdb out",
        "z": "162903de9a0a4000",
        "influxdb": "47cd2837047de8dd",
        "name": "sensor/d3928b/PM10",
        "measurement": "sensor/d3928b/PM10",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "home",
        "bucket": "sensors",
        "x": 500,
        "y": 260,
        "wires": []
    },
    {
        "id": "a6da174cb24cee13",
        "type": "influxdb out",
        "z": "162903de9a0a4000",
        "influxdb": "47cd2837047de8dd",
        "name": "sensor/d3928b/PM1",
        "measurement": "sensor/d3928b/PM1",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "home",
        "bucket": "sensors",
        "x": 500,
        "y": 300,
        "wires": []
    },
    {
        "id": "8c98aebb34ff62b5",
        "type": "change",
        "z": "162903de9a0a4000",
        "name": "pm1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pm1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "a6da174cb24cee13"
            ]
        ]
    },
    {
        "id": "c8461b2caff2db70",
        "type": "mqtt in",
        "z": "162903de9a0a4000",
        "name": "sensor/cf52c4/csv",
        "topic": "sensor/cf52c4/csv",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2869d2cff789b55b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 380,
        "wires": [
            [
                "e48487459cc00a2f"
            ]
        ]
    },
    {
        "id": "e48487459cc00a2f",
        "type": "csv",
        "z": "162903de9a0a4000",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "aqi,pm2-5,pm10,pm1",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "f4ae4447682d77a6",
                "5925dfa536fd876c",
                "7f5ea5492e14f808",
                "5c350444b1dee332",
                "7c47a5d571910b77"
            ]
        ]
    },
    {
        "id": "f4ae4447682d77a6",
        "type": "debug",
        "z": "162903de9a0a4000",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 100,
        "y": 500,
        "wires": []
    },
    {
        "id": "5925dfa536fd876c",
        "type": "change",
        "z": "162903de9a0a4000",
        "name": "aqi",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.aqi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 480,
        "wires": [
            [
                "c0ade9933e36f251"
            ]
        ]
    },
    {
        "id": "7f5ea5492e14f808",
        "type": "change",
        "z": "162903de9a0a4000",
        "name": "pm2-5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"pm2-5\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 520,
        "wires": [
            [
                "f6fde11a98223904"
            ]
        ]
    },
    {
        "id": "5c350444b1dee332",
        "type": "change",
        "z": "162903de9a0a4000",
        "name": "pm10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pm10",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 560,
        "wires": [
            [
                "a86901d5daf4ee26"
            ]
        ]
    },
    {
        "id": "c0ade9933e36f251",
        "type": "influxdb out",
        "z": "162903de9a0a4000",
        "influxdb": "47cd2837047de8dd",
        "name": "sensor/cf52c4/AQI",
        "measurement": "sensor/cf52c4/AQI",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "home",
        "bucket": "sensors",
        "x": 490,
        "y": 480,
        "wires": []
    },
    {
        "id": "f6fde11a98223904",
        "type": "influxdb out",
        "z": "162903de9a0a4000",
        "influxdb": "47cd2837047de8dd",
        "name": "sensor/cf52c4/PM2-5",
        "measurement": "sensor/cf52c4/PM2-5",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "home",
        "bucket": "sensors",
        "x": 500,
        "y": 520,
        "wires": []
    },
    {
        "id": "a86901d5daf4ee26",
        "type": "influxdb out",
        "z": "162903de9a0a4000",
        "influxdb": "47cd2837047de8dd",
        "name": "sensor/cf52c4/PM10",
        "measurement": "sensor/cf52c4/PM10",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "home",
        "bucket": "sensors",
        "x": 500,
        "y": 560,
        "wires": []
    },
    {
        "id": "2f8bbba2b9d06523",
        "type": "influxdb out",
        "z": "162903de9a0a4000",
        "influxdb": "47cd2837047de8dd",
        "name": "sensor/cf52c4/PM1",
        "measurement": "sensor/cf52c4/PM1",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "home",
        "bucket": "sensors",
        "x": 490,
        "y": 600,
        "wires": []
    },
    {
        "id": "7c47a5d571910b77",
        "type": "change",
        "z": "162903de9a0a4000",
        "name": "pm1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pm1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 600,
        "wires": [
            [
                "2f8bbba2b9d06523"
            ]
        ]
    },
    {
        "id": "25cd2c797facabe5",
        "type": "mqtt in",
        "z": "162903de9a0a4000",
        "name": "sensor/d38f88/csv",
        "topic": "sensor/d38f88/csv",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2869d2cff789b55b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 700,
        "wires": [
            [
                "0179d38c91ed53a6"
            ]
        ]
    },
    {
        "id": "0179d38c91ed53a6",
        "type": "csv",
        "z": "162903de9a0a4000",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "aqi,pm2-5,pm10,pm1",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 110,
        "y": 780,
        "wires": [
            [
                "82ea26d706d206dd",
                "5ce47c257a46fa43",
                "9b983107eafed402",
                "56c106394d3d9639",
                "111ae87fbc1a3c2c"
            ]
        ]
    },
    {
        "id": "82ea26d706d206dd",
        "type": "debug",
        "z": "162903de9a0a4000",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 100,
        "y": 820,
        "wires": []
    },
    {
        "id": "5ce47c257a46fa43",
        "type": "change",
        "z": "162903de9a0a4000",
        "name": "aqi",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.aqi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 800,
        "wires": [
            [
                "07b989cbd55ec546"
            ]
        ]
    },
    {
        "id": "9b983107eafed402",
        "type": "change",
        "z": "162903de9a0a4000",
        "name": "pm2-5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"pm2-5\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 840,
        "wires": [
            [
                "d4c30642068b3222"
            ]
        ]
    },
    {
        "id": "56c106394d3d9639",
        "type": "change",
        "z": "162903de9a0a4000",
        "name": "pm10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pm10",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 880,
        "wires": [
            [
                "115fe6dd2b967426"
            ]
        ]
    },
    {
        "id": "07b989cbd55ec546",
        "type": "influxdb out",
        "z": "162903de9a0a4000",
        "influxdb": "47cd2837047de8dd",
        "name": "sensor/d38f88/AQI",
        "measurement": "sensor/d38f88/AQI",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "home",
        "bucket": "sensors",
        "x": 490,
        "y": 800,
        "wires": []
    },
    {
        "id": "d4c30642068b3222",
        "type": "influxdb out",
        "z": "162903de9a0a4000",
        "influxdb": "47cd2837047de8dd",
        "name": "sensor/d38f88/PM2-5",
        "measurement": "sensor/d38f88/PM2-5",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "home",
        "bucket": "sensors",
        "x": 500,
        "y": 840,
        "wires": []
    },
    {
        "id": "115fe6dd2b967426",
        "type": "influxdb out",
        "z": "162903de9a0a4000",
        "influxdb": "47cd2837047de8dd",
        "name": "sensor/d38f88/PM10",
        "measurement": "sensor/d38f88/PM10",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "home",
        "bucket": "sensors",
        "x": 500,
        "y": 880,
        "wires": []
    },
    {
        "id": "952c25e5f381a87d",
        "type": "influxdb out",
        "z": "162903de9a0a4000",
        "influxdb": "47cd2837047de8dd",
        "name": "sensor/d38f88/PM1",
        "measurement": "sensor/d38f88/PM1",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "home",
        "bucket": "sensors",
        "x": 490,
        "y": 920,
        "wires": []
    },
    {
        "id": "111ae87fbc1a3c2c",
        "type": "change",
        "z": "162903de9a0a4000",
        "name": "pm1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pm1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 920,
        "wires": [
            [
                "952c25e5f381a87d"
            ]
        ]
    },
    {
        "id": "2869d2cff789b55b",
        "type": "mqtt-broker",
        "name": "mosquitto_local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "47cd2837047de8dd",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "sensors",
        "name": "local",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    }
]
