node_red/air-quality-sensors-control-flow.json
[
    {
        "id": "f19ace80cfd4e33d",
        "type": "tab",
        "label": "air quality sensors control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1988b314a6c476af",
        "type": "ui-button",
        "z": "f19ace80cfd4e33d",
        "group": "9661c8e04a132b47",
        "name": "",
        "label": "Toggle display (cf52c4)",
        "order": 0,
        "width": "3",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Dt",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "64ceb00fcea31161",
                "2d0e2f912b2f0291"
            ]
        ]
    },
    {
        "id": "2d0e2f912b2f0291",
        "type": "mqtt out",
        "z": "f19ace80cfd4e33d",
        "name": "sensor/cf52c4/cmd",
        "topic": "sensor/cf52c4/cmd",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2869d2cff789b55b",
        "x": 390,
        "y": 220,
        "wires": []
    },
    {
        "id": "64ceb00fcea31161",
        "type": "debug",
        "z": "f19ace80cfd4e33d",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 140,
        "wires": []
    },
    {
        "id": "9661c8e04a132b47",
        "type": "ui-group",
        "name": "Air Quality Sensors Control",
        "page": "8b323d10d7b29c4d",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": ""
    },
    {
        "id": "2869d2cff789b55b",
        "type": "mqtt-broker",
        "name": "mosquitto_local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8b323d10d7b29c4d",
        "type": "ui-page",
        "name": "Dashboard",
        "ui": "b34c436c1b3fd9fc",
        "path": "/",
        "layout": "grid",
        "theme": "707615cb5d8b3d0a",
        "order": -1,
        "className": ""
    },
    {
        "id": "b34c436c1b3fd9fc",
        "type": "ui-base",
        "name": "UI Name",
        "path": "/dashboard"
    },
    {
        "id": "707615cb5d8b3d0a",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        }
    }
]
