node_red/air-quality-sensors-control-flow.json
[
    {
        "id": "f19ace80cfd4e33d",
        "type": "tab",
        "label": "air quality sensors control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1988b314a6c476af",
        "type": "ui-button",
        "z": "f19ace80cfd4e33d",
        "group": "9661c8e04a132b47",
        "name": "",
        "label": "Display Values",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Dv",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "2d0e2f912b2f0291"
            ]
        ]
    },
    {
        "id": "2d0e2f912b2f0291",
        "type": "mqtt out",
        "z": "f19ace80cfd4e33d",
        "name": "sensor/cf52c4/cmd",
        "topic": "sensor/cf52c4/cmd",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2869d2cff789b55b",
        "x": 410,
        "y": 260,
        "wires": []
    },
    {
        "id": "474b6e16b8c5b589",
        "type": "ui-button",
        "z": "f19ace80cfd4e33d",
        "group": "9661c8e04a132b47",
        "name": "",
        "label": "Display off",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Do",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "f113a3dd6dde3e26"
            ]
        ]
    },
    {
        "id": "f113a3dd6dde3e26",
        "type": "mqtt out",
        "z": "f19ace80cfd4e33d",
        "name": "sensor/cf52c4/cmd",
        "topic": "sensor/cf52c4/cmd",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2869d2cff789b55b",
        "x": 410,
        "y": 80,
        "wires": []
    },
    {
        "id": "c17d795d7f01612b",
        "type": "ui-button",
        "z": "f19ace80cfd4e33d",
        "group": "9661c8e04a132b47",
        "name": "",
        "label": "Display AQI",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Da",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "e5d0ecc2947d648a"
            ]
        ]
    },
    {
        "id": "e5d0ecc2947d648a",
        "type": "mqtt out",
        "z": "f19ace80cfd4e33d",
        "name": "sensor/cf52c4/cmd",
        "topic": "sensor/cf52c4/cmd",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2869d2cff789b55b",
        "x": 410,
        "y": 200,
        "wires": []
    },
    {
        "id": "62c094591fdd7a21",
        "type": "ui-button",
        "z": "f19ace80cfd4e33d",
        "group": "9661c8e04a132b47",
        "name": "",
        "label": "Display Graph",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Dg",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "72d1e5c43afe35d6"
            ]
        ]
    },
    {
        "id": "72d1e5c43afe35d6",
        "type": "mqtt out",
        "z": "f19ace80cfd4e33d",
        "name": "sensor/cf52c4/cmd",
        "topic": "sensor/cf52c4/cmd",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2869d2cff789b55b",
        "x": 410,
        "y": 140,
        "wires": []
    },
    {
        "id": "9661c8e04a132b47",
        "type": "ui-group",
        "name": "Air Quality Sensor: cf52c4",
        "page": "8b323d10d7b29c4d",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": ""
    },
    {
        "id": "2869d2cff789b55b",
        "type": "mqtt-broker",
        "name": "mosquitto_local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8b323d10d7b29c4d",
        "type": "ui-page",
        "name": "Dashboard",
        "ui": "b34c436c1b3fd9fc",
        "path": "/",
        "layout": "grid",
        "theme": "707615cb5d8b3d0a",
        "order": -1,
        "className": ""
    },
    {
        "id": "b34c436c1b3fd9fc",
        "type": "ui-base",
        "name": "UI Name",
        "path": "/dashboard"
    },
    {
        "id": "707615cb5d8b3d0a",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        }
    }
]
