node_red/air-quality-sensors-control-flow.json
[
    {
        "id": "f19ace80cfd4e33d",
        "type": "tab",
        "label": "air quality sensors control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1988b314a6c476af",
        "type": "ui-button",
        "z": "f19ace80cfd4e33d",
        "group": "9661c8e04a132b47",
        "name": "",
        "label": "Display Values",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Dv",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "2d0e2f912b2f0291"
            ]
        ]
    },
    {
        "id": "2d0e2f912b2f0291",
        "type": "mqtt out",
        "z": "f19ace80cfd4e33d",
        "name": "sensor/cf52c4/cmd",
        "topic": "sensor/cf52c4/cmd",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2869d2cff789b55b",
        "x": 390,
        "y": 480,
        "wires": []
    },
    {
        "id": "474b6e16b8c5b589",
        "type": "ui-button",
        "z": "f19ace80cfd4e33d",
        "group": "9661c8e04a132b47",
        "name": "",
        "label": "Display off",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Do",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "f113a3dd6dde3e26"
            ]
        ]
    },
    {
        "id": "f113a3dd6dde3e26",
        "type": "mqtt out",
        "z": "f19ace80cfd4e33d",
        "name": "sensor/cf52c4/cmd",
        "topic": "sensor/cf52c4/cmd",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2869d2cff789b55b",
        "x": 390,
        "y": 300,
        "wires": []
    },
    {
        "id": "c17d795d7f01612b",
        "type": "ui-button",
        "z": "f19ace80cfd4e33d",
        "group": "9661c8e04a132b47",
        "name": "",
        "label": "Display AQI",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Da",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "e5d0ecc2947d648a"
            ]
        ]
    },
    {
        "id": "e5d0ecc2947d648a",
        "type": "mqtt out",
        "z": "f19ace80cfd4e33d",
        "name": "sensor/cf52c4/cmd",
        "topic": "sensor/cf52c4/cmd",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2869d2cff789b55b",
        "x": 390,
        "y": 420,
        "wires": []
    },
    {
        "id": "62c094591fdd7a21",
        "type": "ui-button",
        "z": "f19ace80cfd4e33d",
        "group": "9661c8e04a132b47",
        "name": "",
        "label": "Display Graph",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Dg",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "72d1e5c43afe35d6"
            ]
        ]
    },
    {
        "id": "72d1e5c43afe35d6",
        "type": "mqtt out",
        "z": "f19ace80cfd4e33d",
        "name": "sensor/cf52c4/cmd",
        "topic": "sensor/cf52c4/cmd",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2869d2cff789b55b",
        "x": 390,
        "y": 360,
        "wires": []
    },
    {
        "id": "678397f4c1f6a89e",
        "type": "ui-button",
        "z": "f19ace80cfd4e33d",
        "group": "9661c8e04a132b47",
        "name": "",
        "label": "Led toggle",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Lt",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "c22cf9976d198476"
            ]
        ]
    },
    {
        "id": "c22cf9976d198476",
        "type": "mqtt out",
        "z": "f19ace80cfd4e33d",
        "name": "sensor/cf52c4/cmd",
        "topic": "sensor/cf52c4/cmd",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2869d2cff789b55b",
        "x": 390,
        "y": 560,
        "wires": []
    },
    {
        "id": "353490b573345d2f",
        "type": "ui-slider",
        "z": "f19ace80cfd4e33d",
        "group": "9661c8e04a132b47",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "payload",
        "topicType": "msg",
        "thumbLabel": true,
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 170,
        "y": 640,
        "wires": [
            [
                "1737a4056d17f9af"
            ]
        ]
    },
    {
        "id": "1737a4056d17f9af",
        "type": "mqtt out",
        "z": "f19ace80cfd4e33d",
        "name": "sensor/cf52c4/led",
        "topic": "sensor/cf52c4/led",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2869d2cff789b55b",
        "x": 390,
        "y": 640,
        "wires": []
    },
    {
        "id": "0ebcd88bf4ccf281",
        "type": "ui-button",
        "z": "f19ace80cfd4e33d",
        "group": "a5229f8936c2ccbd",
        "name": "",
        "label": "Display Values",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Dv",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 140,
        "y": 900,
        "wires": [
            [
                "719e868a734cfe5f"
            ]
        ]
    },
    {
        "id": "719e868a734cfe5f",
        "type": "mqtt out",
        "z": "f19ace80cfd4e33d",
        "name": "sensor/cf52c4/cmd",
        "topic": "sensor/d3928b/cmd",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2869d2cff789b55b",
        "x": 390,
        "y": 900,
        "wires": []
    },
    {
        "id": "7c59bd22384caad4",
        "type": "ui-button",
        "z": "f19ace80cfd4e33d",
        "group": "a5229f8936c2ccbd",
        "name": "",
        "label": "Display off",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Do",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 130,
        "y": 720,
        "wires": [
            [
                "8d1e8d4927bdf34e"
            ]
        ]
    },
    {
        "id": "8d1e8d4927bdf34e",
        "type": "mqtt out",
        "z": "f19ace80cfd4e33d",
        "name": "sensor/d3928b/cmd",
        "topic": "sensor/d3928b/cmd",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2869d2cff789b55b",
        "x": 390,
        "y": 720,
        "wires": []
    },
    {
        "id": "24085165ce87a2c0",
        "type": "ui-button",
        "z": "f19ace80cfd4e33d",
        "group": "a5229f8936c2ccbd",
        "name": "",
        "label": "Display AQI",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Da",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 130,
        "y": 840,
        "wires": [
            [
                "0c94ca163c5b6183"
            ]
        ]
    },
    {
        "id": "0c94ca163c5b6183",
        "type": "mqtt out",
        "z": "f19ace80cfd4e33d",
        "name": "sensor/cf52c4/cmd",
        "topic": "sensor/d3928b/cmd",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2869d2cff789b55b",
        "x": 390,
        "y": 840,
        "wires": []
    },
    {
        "id": "1279c5402b136a3e",
        "type": "ui-button",
        "z": "f19ace80cfd4e33d",
        "group": "a5229f8936c2ccbd",
        "name": "",
        "label": "Display Graph",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Dg",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 140,
        "y": 780,
        "wires": [
            [
                "51ae4d3e7d8a3855"
            ]
        ]
    },
    {
        "id": "51ae4d3e7d8a3855",
        "type": "mqtt out",
        "z": "f19ace80cfd4e33d",
        "name": "sensor/d3928b/cmd",
        "topic": "sensor/d3928b/cmd",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2869d2cff789b55b",
        "x": 390,
        "y": 780,
        "wires": []
    },
    {
        "id": "ef7450b8ace92fb2",
        "type": "ui-button",
        "z": "f19ace80cfd4e33d",
        "group": "a5229f8936c2ccbd",
        "name": "",
        "label": "Led toggle",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Lt",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 130,
        "y": 960,
        "wires": [
            [
                "303402430cdcaf65"
            ]
        ]
    },
    {
        "id": "303402430cdcaf65",
        "type": "mqtt out",
        "z": "f19ace80cfd4e33d",
        "name": "sensor/d3928b/cmd",
        "topic": "sensor/d3928b/cmd",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2869d2cff789b55b",
        "x": 390,
        "y": 960,
        "wires": []
    },
    {
        "id": "dd465762596ed438",
        "type": "ui-slider",
        "z": "f19ace80cfd4e33d",
        "group": "a5229f8936c2ccbd",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "payload",
        "topicType": "msg",
        "thumbLabel": true,
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 170,
        "y": 1040,
        "wires": [
            [
                "11846033619c3eeb"
            ]
        ]
    },
    {
        "id": "11846033619c3eeb",
        "type": "mqtt out",
        "z": "f19ace80cfd4e33d",
        "name": "sensor/d3928b/led",
        "topic": "sensor/d3928b/led",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2869d2cff789b55b",
        "x": 390,
        "y": 1040,
        "wires": []
    },
    {
        "id": "b9ec231d398115a8",
        "type": "inject",
        "z": "f19ace80cfd4e33d",
        "name": "Night Display",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "payload",
                "vt": "msg"
            }
        ],
        "repeat": "",
        "crontab": "00 21 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Do",
        "payloadType": "str",
        "x": 160,
        "y": 40,
        "wires": [
            [
                "dacfae25acc25ee9"
            ]
        ]
    },
    {
        "id": "dacfae25acc25ee9",
        "type": "mqtt out",
        "z": "f19ace80cfd4e33d",
        "name": "sensor/cf52c4/cmd",
        "topic": "sensor/cf52c4/cmd",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2869d2cff789b55b",
        "x": 510,
        "y": 140,
        "wires": []
    },
    {
        "id": "a81530cacd5d1465",
        "type": "inject",
        "z": "f19ace80cfd4e33d",
        "name": "Night Led",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "payload",
                "vt": "msg"
            }
        ],
        "repeat": "",
        "crontab": "00 21 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Lt",
        "payloadType": "str",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "dacfae25acc25ee9"
            ]
        ]
    },
    {
        "id": "af08e2da87130a22",
        "type": "inject",
        "z": "f19ace80cfd4e33d",
        "name": "Morning Display",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "payload",
                "vt": "msg"
            }
        ],
        "repeat": "",
        "crontab": "00 08 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Dg",
        "payloadType": "str",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "dacfae25acc25ee9"
            ]
        ]
    },
    {
        "id": "b04e841f68010228",
        "type": "inject",
        "z": "f19ace80cfd4e33d",
        "name": "Night Led",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "payload",
                "vt": "msg"
            }
        ],
        "repeat": "",
        "crontab": "30 08 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Lt",
        "payloadType": "str",
        "x": 155,
        "y": 223,
        "wires": [
            [
                "dacfae25acc25ee9"
            ]
        ]
    },
    {
        "id": "9661c8e04a132b47",
        "type": "ui-group",
        "name": "Air Quality Sensor: cf52c4",
        "page": "8b323d10d7b29c4d",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": ""
    },
    {
        "id": "2869d2cff789b55b",
        "type": "mqtt-broker",
        "name": "mosquitto_local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a5229f8936c2ccbd",
        "type": "ui-group",
        "name": "Air Quality Sensor Control d3928b",
        "page": "8b323d10d7b29c4d",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": ""
    },
    {
        "id": "8b323d10d7b29c4d",
        "type": "ui-page",
        "name": "Dashboard",
        "ui": "b34c436c1b3fd9fc",
        "path": "/",
        "layout": "grid",
        "theme": "707615cb5d8b3d0a",
        "order": -1,
        "className": ""
    },
    {
        "id": "b34c436c1b3fd9fc",
        "type": "ui-base",
        "name": "UI Name",
        "path": "/dashboard"
    },
    {
        "id": "707615cb5d8b3d0a",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        }
    }
]
